/* overqualified to avoid being overridden by styles on page */
.html5-player-chrome .ytp-button-standalone {
    float: right;
    padding: 7px 2px;
    color: #888;
}
.ytp-button-standalone:hover {color: #AAA;text-decoration:none;}